{% macro sortable_th(label, current_sort, job_name, target, endpoint) %}
<th class="no-sort server-sort-th"
    hx-get='{{ endpoint }}?page=1&sort={% if current_sort == "desc" %}asc{% else %}desc{% endif %}'
    hx-target="{{ target }}" hx-swap="outerHTML" hx-push-url="true">
    <div class="th-sort-container">
        <span class="th-sort-label">{{ label }}</span>
        <span class="th-sort-icon{% if current_sort == "desc" || current_sort == "asc" %} active{% endif %}">
            {% if current_sort == "desc" %}
            <i data-lucide="arrow-down" style="width: 13px; height: 13px;"></i>
            {% elif current_sort == "asc" %}
            <i data-lucide="arrow-up" style="width: 13px; height: 13px;"></i>
            {% else %}
            <i data-lucide="chevrons-up-down" style="width: 13px; height: 13px;"></i>
            {% endif %}
        </span>
    </div>
</th>
{% endmacro %}
